.nav_tabs{
	width: 1000px;
	height: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: relative;
	background-color: #fff;
	border-radius: 15px;
}

#tabela1{
	border-radius: 15px 0 0 0;
}

#tabela2{
	border-radius: 0 0 15px 0;
}

.nav_tabs ul{
	list-style: none;
}

.nav_tabs ul li{
	float: left;
}

.nav_tabs label{
	width: 100px;
	padding: 10px;
	background-color: #DCDCDC;
	display: block;
	color: black;
	cursor: pointer;
	text-align: center;
}

.rd_tabs:checked ~ label{
	background-color: #4169E1;
	color: #fff;
}

.rd_tabs{
	display: none;
}

.content{
	background-color: #fff;
	position: absolute;
    display: none;
	width: 900px;
	height: auto;
	left: 0;
    margin-left: 50px;
}

.rd_tabs:checked ~ .content{
	display: block;
}

.content article{
	padding: 10px;
}

.borda{
	border: solid;
	border-width: 1px;
	border-color: #A9A9A9;
}

.dados{
	display: block;
	width: 880px;
    margin-bottom: 25px;
  	height: auto;
  	border-radius: 5px;
  	/* border: none; */
  	/* background: #DCDCDC; */
  	padding: 10px;
  	font-size: 14px;
  	position: relative;
}

.form_equipe{
	width: 400px;
	height: 80px;
	border: 1px solid;
	border-color: #A9A9A9;
	border-radius: 15px;
}

