.central{
	margin: 40px auto;
	float: right;
	margin-right: 30px;
}

.topo{
	width: 100%;
	height: 120px;
	background-color: #4169E1;
	margin-bottom: 50px;
}

.espaco{
    height: 120px;
}

.borda{
	border: solid;
	border-width: 1px;
	border-color: #A9A9A9;
}

.dados-area{
	display: block;
	width: 880px;
    margin-bottom: 25px;
  	height: 200px;
  	border-radius: 5px;
  	/* border: none; */
  	/* background: #DCDCDC; */
  	padding: 10px;
  	font-size: 14px;
  	position: relative;
}

.dados{
	display: block;
	width: 880px;
    margin-bottom: 25px;
  	height: 42px;
  	border-radius: 5px;
  	/* border: none; */
  	/* background: #DCDCDC; */
  	padding: 10px;
  	font-size: 14px;
  	position: relative;
}

.principal{
	width: 1100px;
	border: 1px solid;
	border-color: darkgray;
	border-radius: 10px;
	background-color: #fff;
	margin: 60px auto;
	position: relative;
}